* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


:root{
    --offwhite: #F6F3EE;
    --orange : #FF6926;
    --green : #036147;
    --pink : #F5CBE6;
    --lightbrown : #816F66;
    --black: #141414;
    --yellow: #f4db73;
    --light-pink-purple: #fa6e85;
    --paragraph-one-bg: #fdf3ee; /* Adjusted color for the first paragraph block */
    --paragraph-two-bg: #f4db73; /* Yellow for the second paragraph block */
    --paragraph-three-bg: #ebbcda;
}


.navbar {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    color: #f4db73;
    padding: 3vb;
    padding-left: 8vw;
    padding-right: 8vw;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    z-index: 1000; 
    font-family: 'Poppins', sans-serif;
    backdrop-filter: blur(2px);
}

.navbar-brand a {
    color:var(--orange); 
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.navbar-links {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
}

.navbar-links li {
    margin-left: 20px;
    margin-right: 20px; 
}

.navbar-links a {
    color: var(--offwhite); 
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    transition: color 0.3s ease; 
}

.navbar-links a:hover {
    color: var(--orange); 
}

.search-box {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8); 
}

.search-box input {
    border: none;
    padding: 8px 15px;
    outline: none;
    background-color: transparent; 
}

.search-box button {
    border: none;
    background-color: transparent;
    padding: 8px 12px;
    cursor: pointer;
    color: #777;
}


body{

    background: linear-gradient(180deg, #036147, #f0f1f5, #f6f3ee);
    margin: 0; 
    padding: 0; 
    height: auto;
    overflow-x: hidden;
}

.page-container{
    position: relative; 
    min-height: 100vh; 
    width: 100%;
    background: linear-gradient(180deg, #036147, #f0f1f5, #f6f3ee);
    z-index: 1; 
    display: flex; 
    flex-direction: column;
}

.title-section h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 6.0rem;
    color: #011c50;
    margin: 0;
    line-height: 1.3;
    max-width: 1200px;
    display: flex;
    margin-top: 100px;
}

.title-section{
    padding-top: 20vh;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    margin-left: 5%;
    margin-bottom: 15%;
    text-align: left;
    line-height: 5%;
    align-items: flex-start;
    flex: 1;
    min-width: 300px;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 2vw;
    flex-wrap: wrap;
    overflow: hidden;
}
.image-section {
    flex: 0 0 auto;
    max-width: 100%;
    text-align: right;
    margin-top: 20vh;
    margin-right: 2vw;
    margin-bottom: 22vh;
}

.image-section img {
    max-width: 100%;
    width: 550px;
    height: auto;
    display: block;
}

.content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 8vw;
    background-color: #009955;
    flex-wrap: wrap; 
    gap: 40px; 
    box-shadow:0 -50 16px rgba(20, 20, 20, 0.8);
    position: relative;
    overflow: visible;
    
}

.content-section .text-content {
    flex: 2; 
    min-width: 300px; 
}


.content-section .text-content p {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    color: #f0f1f5;
    line-height: 1.8;
    justify-content: center;
    font-style: italic;
}

.content-section .image-container {
    flex: 1; 
    min-width: 250px; 
    text-align: center; 
}

.content-section .image-container img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px; 
    z-index: 2;
    position: relative;
    margin-bottom: -50px;
    right: 0;
    bottom: 1.2rem;
    filter: drop-shadow(30px 10px 12px #000)
}

.white-box {
    width: 100vw;
    height: 100px;
    background-color: white;
    bottom: 0;
    position: absolute;
    z-index: 0;
    left: 0;

    
}

.five-section .first-section-one {
    background-color: #eecce2;
}

.first-section-one {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
}

.first-content-wrapper {
    flex: 2;
    min-width: 500px;
    padding-left: 5vw;
}

.five-section .first-title-section h1 {
    color: #011c50;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 5rem;
    white-space: nowrap;
    max-width: 100%;
}

.first-title-section h1::before {
  content: "";
  display: inline-block;
  width: 100px; 
  height: 5px;
  background-color: #011c50;
  margin-right: 20px;
  margin-bottom: 12px;
}

.five-section .first-section-content p {
    font-family: 'Raleway', sans-serif;
    font-size: 2.3rem;
    color: #011c50;
    font-weight: 500;
    text-align: justify;
    max-width: 1400px;
    justify-content: center;
    line-height: 1.3;
    letter-spacing: 2px;
}

.five-section .first-image {
    flex: 1;
    min-width: 250px;
    text-align: right;
    padding-right: 0;
    margin-right: 0;
    padding-left: 0;
}

.first-image img {
    max-width: 100%;
    height: auto;
    width: 100%;
    display: block;
    object-fit: contain;
    margin-right: 0;
}

.second-section-two {
    background-color: #e0c551;
    padding: 1px;
}

.second-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}


.second-image {
    flex: 1;
    min-width: 250px;
    text-align: left;
    padding-left: 0;
    margin-right: 0;
    padding-left: 0;
}
.second-image img {
    max-width: 100%;
    height: auto;
    width: 100%;
    display: block;
    object-fit: contain;
    margin-left: 0;
}

.second-content-wrapper {
    flex: 2;
    min-width: 500px;
    padding-right: 5vw;
}

.second-title-section h1 {
    color: #011c50;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: left;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.second-title-section h1::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: #011c50;
    margin-right: 20px;
    margin-bottom: 12px;
}

.second-section-content p {
    font-family: 'Raleway', sans-serif;
    font-size: 2.3rem;
    color: #011c50;
    font-weight: 500;
    text-align: justify;
    max-width: 1400px;
    line-height: 1.5;
    letter-spacing: 3px;
}

.third-section-three {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
    background-color: #8c68f3;
}

.third-content-wrapper {
    flex: 2;
    min-width: 500px;
    padding-left: 5vw;
}

.five-section .third-title-section h1 {
    color: #011c50;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 5rem;
    white-space: nowrap;
    max-width: 100%;
}

.third-title-section h1::before {
  content: "";
  display: inline-block;
  width: 100px; 
  height: 5px;
  background-color: #011c50;
  margin-right: 20px;
  margin-bottom: 12px;
}

.five-section .third-section-content p {
    font-family: 'Raleway', sans-serif;
    font-size: 2.3rem;
    color: #011c50;
    font-weight: 500;
    text-align: justify;
    max-width: 1400px;
    justify-content: center;
    line-height: 1.3;
    letter-spacing: 2px;
}

.five-section .third-image {
    flex: 1;
    min-width: 250px;
    text-align: right;
    padding-right: 0;
    margin-right: 0;
    padding-left: 0;
}

.third-image img {
    max-width: 100%;
    height: auto;
    width: 100%;
    display: block;
    object-fit: contain;
    margin-right: 0;
}

.fourth-section-four {
    background-color: #009955;
    padding: 1px;
}

.fourth-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}


.fourth-image {
    flex: 1;
    min-width: 250px;
    text-align: left;
    padding-left: 0;
    margin-right: 0;
    padding-left: 0;
}
.fourth-image img {
    max-width: 100%;
    height: auto;
    width: 100%;
    display: block;
    object-fit: contain;
    margin-left: 0;
}

.fourth-content-wrapper {
    flex: 2;
    min-width: 500px;
    padding-right: 5vw;
}

.fourth-title-section h1 {
    color: #011c50;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: left;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.fourth-title-section h1::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: #011c50;
    margin-right: 20px;
    margin-bottom: 12px;
}

.fourth-section-content p {
    font-family: 'Raleway', sans-serif;
    font-size: 2.3rem;
    color: #011c50;
    font-weight: 500;
    text-align: justify;
    max-width: 1400px;
    line-height: 1.5;
    letter-spacing: 3px;
}

.last-section {
    background-color: #eecce2;
    padding: 5vw 0;
    display: flex;
    justify-content: center;

}

.last-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    padding: 0 5vw;
}

.last-section-content {
    font-family: 'Raleway', sans-serif;
    font-size: 2.3rem;
    color: #011c50;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 3px;
    padding: 10px;
}

.paragraph-box {
    background-color: #f6f3ee;
    border: 3px solid #79675e;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    width: 100%;
    font-weight: bold;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}